html {
    font-family: 'Segoe UI'; 
}
h1 {
    text-align: center;
}
.heading-center {
    text-align: center;
}
.nav-btn:hover {
    color: tomato;
}
.navbar {
    padding: 2.5px;
    font-size: 20px;
}
.evidence {
    border-collapse: collapse;
    width: 100%;
}
.evidence td, .evidence th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
.evidence th {
    color: white;
    background-color: tomato;
}
.evidence tr:nth-child(even) {
    background-color: #f2f2f2;
}
.warning {
    font-style: italic;
    font-size: 14px;
    margin: 10px;
}
.info {
    font-size: 18px;
}
.flex-container {
    display: flex;
}
.flex-container-single {
    display: flex;
    width: 945px;
    margin: 0 auto;
}
.flex-child {
    flex: 1;
    background-color: #f2f2f2;
    height: 150px;
    margin-right: 20px;
    margin-left: 20px;
    padding: 10px;
}
.heading-bold {
    text-align: center;
    font-size: 26px;
}
hr {
    border: 1px solid black;   
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
}